<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>permanent employ</h1>
    <p>hjvdtsfg</p>
    <ul><li><a href="/emp/pemp/eco1">eco1</a></li>
    <li><a href="/emp/pemp/eco2">eco2</a></li>
      <li><a href="/emp/pemp/eco3">eco3</a></li>
      <li><a href="/emp/pemp/eco4">eco4</a></li>
      <li><a href="/emp/pemp/eco5">eco5</a></li>

</ul>
</body>
</html>