<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <ul>
        <li><a href="/newppage">NEW PRODUCT</a></li><br>
        <li><a href="/viewp">VIEW PRODUCT</a></li><br>
        <li><a href="">EDIT</a></li><br>
        <li><a href="/remove">REMOVE PRODUCT</a></li><br>
    </ul>
</body>
</html>