<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>NEW PRODUCT PAGE</h1>
    <form action="/src/views/addedpd" method="POST">
<ul>
     PNAME: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="unmae"><br><br>
     PRICE:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="uprice"><br><br>
     QUANTITY: <input type="text" name="uquant"><br><br>
    <input type="submit">
</ul>
</form>
</body>
</html>